extends layout

block content
  div(class='column', id='sidebar')
    div(class='top-left') Most traded stocks on NYSE
    div(class='bottom')
      ul
        each stock in stockList['Stock Quotes']
          li #{stock['1. symbol']} - #[p(class='sidebar-price') #{stock['2. price']}]
