/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
  height: 100%;
}

body {
  background-color: #DCDBD9;
  box-sizing: border-box;
  color: #2C2C2C;
  display: flex;
  font: normal 100% Cambria, Georgia, serif;
  height: 100%;
  line-height: 1;
  overflow: hidden;
}

.column {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.top-left {
	background-color: #5cc7b2;
	color: white;
	flex-shink: 0;
	font-size: 1.35em;
	padding: 0.3em;
}
.bottom {
	background-color: #2a3542;
	color: #aeb2b7;
	display: flex;
	flex-grow: 1;
	justify-content: center;
  overflow-y: auto;
}

#sidebar {
	flex-shrink: 0;
}

#sidebar li{
	cursor: pointer;
	font-size: 1.1em;
	margin-bottom: 0.35em;
	padding: 0.2em;
}

#sidebar li:last-child{
	margin-bottom: 0;
}

#sidebar li:first-child{
	margin-top: 0.2em;
}

#sidebar li .sidebar-price{
	color: white;
	display: inline-flex;
	font-weight: bold;
}

#stockcontent{
	display: flex;
	flex: 1;
  overflow-y: auto;
}

#stockcontent h1{
	font-size: 1.5em; /* 24 / 16 */
	font-style: italic;
	font-weight: normal;
	position: fixed;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media only screen and (min-width: 57.5em) { /*920 / 16 */
  #stockcontent{

	}
}

@media only screen and (min-width: 56em){ /*896 / 16 */
	body{
		justify-content: center;
	}
}

@media only screen and (min-width: 26.25){ /*420 / 16 */
	main{
		display: inline-flex;
	}
	aside{
		min-width: 15em;
	}
}
